.box {
    background-color: #000;
    width: 150px;
    height: 0;
    margin: 25px;
    animation-name: growing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}

.ball {
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background-color: #84a125;
    margin: 30px;
    animation-name: jump;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
   
}

@keyframes jump {
    from {
        top: 0;
    }
    to {
        top: 250px;
    }
}

@-webkit-keyframes jump {
    from {
        top: 0;
    }
    to {
        top: 250px;
    }
}